* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #5f3200;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.categories {
  list-style: none;
  text-align: left;
}

#main {
  position: absolute;
  margin: auto;
  top: -14%;
  left: 0;
  right: 0;
  border: 0.1vmin solid black;
  height: 98vmin;
  width: 98vmin;
  background-image: url("bg.jpg");
  background-size: 106%;
  background-position: center;
}

#about-game {
  position: absolute;
  z-index: 100;
  width: 65px;
  top: 13.4vmin;
  right: 0vmin;
  background-color: transparent;
  border: none;
}
#about-game:hover {
  opacity: 0.6;
}
#about-game:focus {
  border: none;
  outline: none;
}

.defaulticon:hover {
  opacity: 0.7;
}

.tile {
  float: left;
  height: 9.8vmin;
  width: 9.8vmin;
  /* border: 0.1vmin solid black; */
  text-align: center;
  line-height: 9.8vmin;
  font-size: 10px;
  /* background-color: lightgreen; */
  box-sizing: border-box;
  font-weight: bold;
  color: red;
}

#side {
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  min-height: 5vmin;
  width: 26vmin;
  border: 0.2vmin;
  background-color: #c6ad74;
  text-align: center;
  font-size: 3.5vmin;
  padding: 20px;
  display: none;
}

.dice-section {
  height: 0vmin;
}

#cube_outer {
  height: 8vmin;
  width: 8vmin;
  perspective: 30vmin;
  margin: auto;
  margin-bottom: 25px;
}

#cube_inner {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.75s linear;
}
#cube_inner div {
  height: 100%;
  width: 100%;
  position: absolute;
  /* background-color: #fff; */
}

#front {
  transform: translateZ(4vmin);
}
#back {
  transform: rotateY(180deg) translateZ(4vmin);
}
#left {
  transform: rotateY(-90deg) translateX(-4vmin);
  transform-origin: left;
}
#right {
  transform: rotateY(90deg) translateX(4vmin);
  transform-origin: right;
}
#top {
  transform: rotateX(-90deg) translateY(-4vmin);
  transform-origin: top;
}
#bottom {
  transform: rotateX(90deg) translateY(4vmin);
  transform-origin: bottom;
}

#cube_inner img {
  height: 100.3%;
  width: 100.3%;
}

.players {
  position: absolute;
  top: 89vmin;
  left: 1vmin;
  height: 8vmin;
  width: 8vmin;
  border-radius: 50%;
  opacity: 1;
  transition-duration: 0.4s;
  transition-property: margin;
  cursor: pointer;
}

.players#red {
  background-color: transparent;
}

.info-btn {
  width: 3vmin;
  position: absolute;
  cursor: pointer;
}

#modal-4 {
  top: 79vmin;
  left: 40.5vmin;
}
#modal-26 {
  top: 50vmin;
  left: 69.5vmin;
}
#modal-49 {
  top: 88.5vmin;
  left: 59.5vmin;
}
#modal-22 {
  top: 84.5vmin;
  left: 25.8vmin;
}
#modal-21 {
  top: 39.6vmin;
  left: 0.8vmin;
}
#modal-63 {
  top: 59.5vmin;
  left: 20.5vmin;
}
#modal-56 {
  top: 20.5vmin;
  left: 59.5vmin;
}
#modal-76 {
  top: 49.5vmin;
  left: 20.5vmin;
}
#modal-68 {
  top: 45.4vmin;
  left: 94.3vmin;
}
#modal-62 {
  top: 20.4vmin;
  left: 1.3vmin;
}

.model {
  height: 80vmin;
  width: 90vmin;
  position: absolute;
  background-color: #000000;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  text-align: center;
}
.model img {
  width: 80%;
  display: block;
  margin: 0 auto 22px auto;
}

.model button {
  position: absolute;
  border-radius: 50%;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  right: 10px;
  top: 10px;
}

.model #message {
  color: #fff;
  text-align: center;
  position: absolute;
  width: 80%;
  height: fit-content;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.categories {
  text-align: center;
}

.category {
  width: 100%;
  text-align: center;
  background-color: #ccc;
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#message h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.01em;
}
#message p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.01em;
  margin: 0 auto 15px auto;
  width: 80%;
}
#message a {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  background-color: #fff;
  color: #000000;
  padding: 4px 10px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 8px;
  width: 112px;
  margin: 0 auto 0 auto;
}

.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 0px;
  margin-top: 0px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.snakeorladder img {
  transition: all 1s;
}

.snake-49 {
  width: 22%;
  position: absolute;
  top: 54.5vmin;
  left: 65.8vmin;
}
.snake-63 {
  width: 16%;
  position: absolute;
  top: 34vmin;
  left: 25.5vmin;
}
.snake-22 {
  width: 11%;
  position: absolute;
  top: 73vmin;
  left: 15vmin;
}
.snake-68 {
  width: 24%;
  position: absolute;
  top: 34vmin;
  left: 72vmin;
}
.snake-76 {
  width: 24%;
  position: absolute;
  top: 24vmin;
  left: 24.4vmin;
}
.ladder-4 {
  width: 14%;
  position: absolute;
  top: 82vmin;
  left: 34.4vmin;
}
.ladder-21 {
  width: 3.6%;
  position: absolute;
  top: 45vmin;
  left: 2.3vmin;
}
.ladder-26 {
  width: 24%;
  position: absolute;
  top: 53vmin;
  left: 55.4vmin;
}
.ladder-56 {
  width: 23%;
  position: absolute;
  top: 25vmin;
  left: 44.4vmin;
}
.ladder-62 {
  width: 14%;
  position: absolute;
  top: 24vmin;
  left: 4.4vmin;
}

@media only screen and (max-width: 600px) {
  #side {
    display: grid;
    grid-template-columns: 100%;
    width: 98%;
    box-sizing: border-box;
    background-color: transparent;
  }

  #main {
    top: 0px;
  }

  .dice-section {
    height: 0;
    background-color: transparent;
  }

  #message h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
  }
  #message p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.01em;
    width: 95%;
  }
  #message a {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.01em;
    background-color: #fff;
    color: #000000;
    padding: 4px 10px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;
  }

  .model {
    height: 150vmin;
    width: 90vmin;
  }

  #about-game {
    top: 11px;
  }
}
