body {
  background-color: #5f3200;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.categories {
  list-style: none;
  text-align: left;
}

#main {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.1vmin solid black;
  height: 98vmin;
  width: 98vmin;
  background-image: url("bg.jpg");
  background-size: 106%;
  background-position: center;
}

.tile {
  float: left;
  height: 9.8vmin;
  width: 9.8vmin;
  /* border: 0.1vmin solid black; */
  text-align: center;
  line-height: 9.8vmin;
  font-size: 10px;
  /* background-color: lightgreen; */
  box-sizing: border-box;
  font-weight: bold;
  color: red;
}

#side {
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  min-height: 5vmin;
  width: 26vmin;
  border: 0.2vmin;
  background-color: #c6ad74;
  text-align: center;
  font-size: 3.5vmin;
  padding: 20px;
  display: none;
}

.dice-section {
  height: 0vmin;
}

#cube_outer {
  height: 8vmin;
  width: 8vmin;
  perspective: 30vmin;
  margin: auto;
  margin-bottom: 25px;
}

#cube_inner {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.75s linear;
}
#cube_inner div {
  height: 100%;
  width: 100%;
  position: absolute;
  /* background-color: #fff; */
}

#front {
  transform: translateZ(4vmin);
}
#back {
  transform: rotateY(180deg) translateZ(4vmin);
}
#left {
  transform: rotateY(-90deg) translateX(-4vmin);
  transform-origin: left;
}
#right {
  transform: rotateY(90deg) translateX(4vmin);
  transform-origin: right;
}
#top {
  transform: rotateX(-90deg) translateY(-4vmin);
  transform-origin: top;
}
#bottom {
  transform: rotateX(90deg) translateY(4vmin);
  transform-origin: bottom;
}

#cube_inner img {
  height: 100.3%;
  width: 100.3%;
}

.players {
  position: absolute;
  top: 89vmin;
  left: 1vmin;
  height: 8vmin;
  width: 8vmin;
  border-radius: 50%;
  opacity: 0.7;
  transition-duration: 0.4s;
  transition-property: margin;
}

.players#red {
  background-color: transparent;
}

.model {
  height: 80vmin;
  width: 90vmin;
  position: absolute;
  background-color: #000000;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.model img {
  width: 80%;
  display: block;
}

.model button {
  position: absolute;
  border-radius: 50%;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  right: 10px;
  top: 10px;
}

.model #message {
  color: #fff;
  text-align: center;
  position: absolute;
  width: 80%;
  height: fit-content;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.categories {
  text-align: center;
}

.category {
  width: 100%;
  text-align: center;
  background-color: #ccc;
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  #side {
    display: grid;
    grid-template-columns: 100%;
    width: 98%;
    box-sizing: border-box;
    background-color: transparent;
  }

  #main {
    top: 80px;
  }

  .dice-section {
    height: 14vmin;
    background-color: transparent;
  }
}
